body {
    background-color: black;
    color: goldenrod;

    font-family: "Edu NSW ACT Hand Pre", cursive;
}

header {
    font-size: 50px;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}