body {
    background-color: black;
    color: goldenrod;

    font-family: "Edu NSW ACT Hand Pre", cursive;

    margin: 0px;
}

header {
    font-size: 50px;
    border: double 5px pink;
    margin: 30px;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}